<html>

<body>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Items</th>
                </tr>
            </thead>
            <tbody>
                <!-- Chunky Row with Multiple Items -->
                <tr>
                    <td class="order-num">#F-9901</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Item Status</th>
                                    <th>Item Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Margherita Pizza</td>
                                    <td>Cooking</td>
                                    <td>32</td>
                                </tr>
                                <tr>
                                    <td>Garlic Knots</td>
                                    <td>READY</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>Coke Zero</td>
                                    <td>READY</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</body>

</html>